.dashboard-container {
  padding: 20px;
}

.plant-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  height: 500px;
  overflow-y: scroll;
}

.plant-section {
  flex: 0 1 calc(33.333% - 16px);
  box-sizing: border-box;
}
